.primera{
    color: white;
    padding-top: 10em;
    font-size: large;
    background-size: 100%;
    font-family: 'Anton', sans-serif;
}

body {
    background-image: url("https://elandroidelibre.elespanol.com/wp-content/uploads/2015/12/wallpaper-quadhd-4.jpg");
    background-size: 100%;
}
.top{
     margin-top: 10rem;
 }
